.dashboard {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--component);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.iconWrapper {
    display: flex;
    color: white;
  gap: 20px;
}

.icon {
  border: 1px black solid;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;

  &.selected {
    border: 1px black solid;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    background-color: var(--selected);
  }
}
