:root {
  --background: #ffffff;
  --component: lightgrey;
  --selected: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --component: grey;
    --selected: darkgrey;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.dashboard {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--component);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
}

.icon {
  border: 1px black solid;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}

.icon.selected {
  border: 1px black solid;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
  background-color: var(--selected);
}
