
.whiteboard {
  position: fixed;
  inset: 0;
}

.svg {
  width: 100%;
  height: 100%;
}

.line {
  stroke: white;
  outline: none;
  stroke-width: 4;
  cursor: pointer;
}

.arrowHead {
  fill: white;
  cursor: pointer;
  outline: none;
}

.triangle {
  stroke: white;
  stroke-width: 2;
  fill: var(--background);
  cursor: pointer;
  outline: none;
}

.circle {
  stroke: white;
  stroke-width: 2;
  fill: var(--background);
  cursor: pointer;
  outline: none;
}

.ellipse {
  stroke: white;
  stroke-width: 2;
  fill: var(--background);
  cursor: pointer;
  outline: none;
}

.rectangle {
  stroke: white;
  stroke-width: 2;
  fill: var(--background);
  cursor: pointer;
  outline: none;
}

.rectangle.surround {
  fill: transparent;
}

.selected {
  stroke: blue;
  stroke-width: 10;
  cursor: pointer;
  outline: none;
}

.selected-adjust-circle {
  stroke: lightblue;
  stroke-width: 3;
  fill: var(--foreground);
  cursor: pointer;
}